
div.da-panel:after,div.da-panel .da-panel-content:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
	font-family: Microsoft Yahei;
}

div.da-panel,div.da-panel .da-panel-content {
	display: inline-block
}

* html div.da-panel,* html div.da-panel .da-panel-content {
	height: 1%
}

div.da-panel,div.da-panel .da-panel-content {
	display: block
}

div.da-panel,div.da-panel-widget {
	margin-bottom: 20px;
	position: relative;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	transition: all 100ms ease-out
}

div.da-panel .da-panel-header .da-panel-title {
	font-size: 14px;
	display: block;
	line-height: 20px;
	padding: 16px 0;
	margin-right: 32px
}

div.da-panel .da-panel-header .da-panel-title img {
	max-height: 16px;
	max-width: 16px;
	display: inline;
	margin-right: 4px
}

div.da-panel.collapsed>* {
	display: none
}

div.da-panel .da-panel-content,div.da-panel-widget {
	background-color: white;
	background-image: url("homePlugins/img/panel-content.png");
	background-repeat: repeat-x;
	background-position: left top;
	border: 1px solid #bfbfbf
}

div.da-panel .da-panel-content {
	border-top: 0
}

div.da-panel .da-panel-content.with-padding,div.da-panel-widget {
	padding: 0.5em 1.2em
}

.line1 {
	background: url(../img/empty_news.png) no-repeat;
	background-position: center center;
}

.line2 {
	background: url(../img/am_my_empty.png) no-repeat;
	background-position: center center;
}

.textbox {
	cursor: pointer;
	width: 100%;
	background: url(../img/page_white_text.png) no-repeat 5px;
	padding-left: 25px;
	padding-right: 10px;
	background-position-y: center;
	border-radius: 5px;
}

.textbox:hover {
	background-color: #D1E8FF;
}

.textbox a {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
}

.textbox span {
	float: right;
	font-size: 13px;
	line-height: 30px;
	color: #676A6C;
	font-weight: bold;
}

.pull-right {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.Msg {
	cursor: pointer;
	width: 100%;
	height: 60px;
	margin-top: 10px;
	border-radius: 3px;
}

.boder-blue {
	padding-top: 5px;
	border-bottom: 1px solid blue;
}
.boder-blue  a{
	color:blue;
}

.boder-blue:hover {
	background-color: #D1E8FF;
}

.boder-green {
	padding-top: 5px;
	border-bottom: 1px solid green;
}

.boder-green  a{
	color:green;
}

.boder-green:hover {
	background-color: #CCE8CF;
}

.boder-red {
	padding-top: 5px;
	border-bottom: 1px solid red;
}

.boder-red  a{
	color:red;
}

.boder-red:hover {
	background-color: #FAD4D1;
}

.Msg .msg-status {
	width: 30px;
	height: 60px;
	float: left;
	text-align: right;
	padding-top: 2px;
	padding-left: 5px;
}

.Msg .msg-title {
	margin-left: 35px;
	margin-bottom:5px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
}

.Msg .msg-util {
	float: right;
	padding-right: 10px;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	font-weight: bold;
}

body .search_body{border:0px solid #000;overflow:hidden;display:block;padding-top:5px;}
	.search_content,.search_title,.search_field,.search_button{float:left}
	.search_content{width:240px;margin:2px;height:30px;}
	.search_title{width:90px;text-align:right;padding-top:1px;letter-spacing:2px;height:28px;line-height:26px;}
	.search_field{width:130px;text-align:left}
	.search_button{margin:1px;}
	.search_field .mini-radiobuttonlist{padding-top:3px}
	.mini-grid-emptyText{
		font-size:15px;
		color:#ccc;
		height:200px;
		text-align:center;
	}
